/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,800&display=swap');

body, button, input, select, textarea {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 1.1em;
    --main-color: #a6024b;
    --accent-color: #eb5e1c;
    --light-color: #fadee8;
}

p {
  margin: 0.5em 0;
}

a, a:visited {
    color: var(--main-color);
}

a:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.Center {
    text-align: center;
}

/* Layout */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.6em;
}

.Section {
    margin: 0.5em;
    padding: 0.5em;
}

.InlineBlock {
    display: inline-block;
}

/* Header */

.AppTitle, .PageTitle, .MyUserName, .TheirUserName {
    text-align: center;
    line-height: 1.75em;
}

.AppTitle {
    font-weight: 800;
    font-style: italic;
    line-height: 0.75em;
    color: black;
}

.AppTitle a, .AppTitle a:visited {
    color: black;
    text-decoration: none;
}

.PageTitle {
    line-height: 1.5em;
}

.MyUserName, .TheirUserName {
    color: var(--main-color);
}

.MyUserName {
    margin-top: 0.25em;
    line-height: 1.1em;
}

/* Home Page */

.UserNameForm {
    margin-top: 1em;
}

.UserNameForm input,
.UserNameForm select,
.UserNameForm button {
    box-sizing: border-box;
    margin-top: 0.25em;
    padding: 0.25em;
    height: 2.5em;
    vertical-align: top;
}

.UserNameForm input,
.UserNameForm select {
    width: 75%;
    max-width: 400px;
    text-align: center;
    margin: 0.5em 0;
}

.UserNameForm button {
    width: 35%;
    max-width: 200px;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    box-sizing: border-box;
    background: var(--main-color);
    color: white;
    border: none;
}

/* Match Page */

.MatchTile {
    display: inline-block;
    background: var(--main-color);
    color: white !important;
    width: calc(100% - 2em);
    padding: 0.5em;
    margin: 0.5em;
    margin-right: 0;
    margin-bottom: 0;
    vertical-align: top;
    text-decoration: none;
}

.MatchTile.ThemNext {
    background: var(--light-color);
    color: var(--main-color) !important;
}

.MatchTile h3 {
    line-height: 1.5em;
    font-size: 1.15em;
    overflow: hidden;;
}

.MatchTile:hover {
    cursor: pointer;
}

.MatchTile:nth-child(odd) {
    width: calc(55% - 1.75em);
}

.MatchTile:nth-child(even) {
    width: calc(45% - 1.75em);
}

.MatchTile:nth-child(3n+3) {
    width: calc(100% - 2em);
}

.MatchTile:nth-child(4n+4) {
    width: calc(45% - 1.75em);
}

.MatchTile:nth-child(5n+5) {
    width: calc(55% - 1.75em);
}

.MatchTile .Teaser {
    text-align: right;
}

.MatchTile .ChatIcon {
    text-align: left;
}

.MatchTile .ChatIcon p {
    margin: 0.5em 0;
    /* https://stackoverflow.com/a/13924997 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.BottomLinks {
    padding: 0.5em;
}

.BottomLinks a {
    display: inline-block;
}

.BottomLinks a:nth-child(2) {
    float: right;
}

/* Inbox Page */

.Inbox {
    margin-top: 1em;
}

.Inbox h3 {
    margin: 0.35em;
    margin-top: 0.5em;
    line-height: 1em;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.5);
}

.InboxChat {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 0.5em;
}

.Inbox a:last-child .InboxChat {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.InboxChat.NoChats {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
}

.InboxChat .Half {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
}

.UserHalf {
    width: calc(60% - 2em);
    /* https://stackoverflow.com/a/13924997 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.UserHalf h4 {
    color: var(--main-color);
    font-size: 1.1em;
    font-weight: bold;
}

.MessageHalf {
    width: calc(40% - 1em);
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.MessageHalf p {
    margin: 0;
    /* https://stackoverflow.com/a/13924997 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ChatLight {
    display: inline-block;
    background: var(--accent-color);
    margin-top: 0.5em;
    margin-left: -0.25em;
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    vertical-align: top;
}

.ChatLight.You {
    display: none;
}

/* Chat Page */

.BackLink {
    position: absolute;
    margin-top: -4.25em;
    margin-left: 0.5em;
    color: black;
    text-decoration: none;
}

.Chat {
    height: calc(100vh - 12.97em);
    overflow: scroll;
    /* https://stackoverflow.com/a/68874831 */
    display: flex;
    flex-direction: column-reverse;
}

.Chat.ViewOnly {
    height: calc(100vh - 6.98em);
}

.Sender {
    height: 6em;
}

.Starter {
    padding: 1em;
    text-align: center;
}

.SendContent, .SendButton {
    height: 100%;
    padding: 0.5em;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: none;
}

.SendContent {
    width: 80%;
    outline: none;
    background: var(--light-color);
    color: var(--main-color);
}

.SendButton {
    width: 20%;
    background: var(--main-color);
    color: white;
}

@keyframes TypingDotAnimation {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 0.5em;
    }
}

@keyframes TypingDotReverseAnimation {
    0%, 100% {
        bottom: 0.5em;
    }
    50% {
        bottom: 0;
    }
}

.TypingDot {
    background: white;
    color: transparent;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 0 0.125em;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    animation: TypingDotAnimation 1s linear infinite;
}

.TypingDot:nth-child(odd) {
    bottom: 0.5em;
    animation: TypingDotReverseAnimation 1s linear infinite;
}

.TypingMessage {
    opacity: 0.75;
    width: 3em;
}

/* Messages */

.MessageTile {
    display: block;
    margin: 0.5em;
}

.MessageBox {
    width: 75%;
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
}

.TheirMessage {
    background: var(--accent-color);
    border-bottom-left-radius: 0;
}

.MyMessage {
    margin-left: calc(25% - 1em);
    background: var(--main-color);
    border-bottom-right-radius: 0;
}

/* Reactions */

.Reaction {
    display: inline-block;
    margin: 0.5em;
    font-size: 1.5em;
}

.ReactionBar .Reaction:hover {
    cursor: pointer;
}

.ReactionBar {
    display: none;
}

.MessageTile:hover .ReactionBar {
    display: inline-block;
}

.MessageTile:hover .Reaction.Off {
    opacity: 0.25;
}

.Reactions {
    position: relative;
    margin-top: -0.5em;
    height: 1em;
    width: calc(75% + 2em);
    text-align: right;
}

.Reactions .Reaction {
    margin: 0 0.125em;
    font-size: 1.5em;
}

.MyMessage + .Reactions {
    text-align: left;
    margin-left: calc(25% - 1.625em);
}

/* Results */

.AllUserResults {
    margin: 2em auto;
}

.UserResultWrapper {
    width: 100%;
    overflow-x: scroll;
}

.UserResult {
    width: 65em;
    margin: 3em auto;
    display: block;
}

.ScrollMessage {
    margin-top: 1em;
}

@media (min-width: 75em) {

    .ScrollMessage {
        display: none;
    }

    .UserResultWrapper {
        overflow-x: hidden;
    }

}

.UserResult .ResultBlock {
    margin: 1em 0.5em;
    padding: 1em 0.5em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.UserBlock {
    width: 15em;
}

.UserBlock h3 {
    margin-top: 2.5em;
}

.UserBlock h4 {
    font-size: 1.35em;
    margin: 0.5em 0;
    color: var(--main-color);
}

.UserBlock h5 {
    font-size: 1.1em;
}

.MatchBlock {
    width: 25em;
}

.MatchPhotoPair {
    display: inline-block;
    margin: 1em 0;
}

.MatchBlock button {
    display: inline-block;
    vertical-align: top;
    margin-top: 3.5em;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.25);
}

.MatchBlock button:hover {
    cursor: pointer;
}

.MatchPhoto {
    width: 10em;
    height: 10em;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3em solid var(--main-color);
}

.MatchPhoto img {
    width: 100%;
    height: 100%;
}

.MatchPhoto:nth-child(2) {
    margin-left: -2em;
    border-color: var(--accent-color);
}

.ReactionCounts {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.ReactionCount {
    margin: 0.5em;
}

.ReactionCount span {
    margin: 0.1em;
}
